# Convert text file line endings to lf
text=lf
*.css linguist-vendored eol=lf
*.scss linguist-vendored eol=lf
*.js linguist-vendored eol=lf
*.php eol=lf

# Denote all files that are truly binary and should not be modified.
*.mp4 binary
*.jpg binary
CHANGELOG.md export-ignore
